@keyframes data-transfer {
    0%
    {
        opacity: 0;
        transform: translate(0px,0px);
    }
    25%
    {
        transform: translate(0px,100px);
        opacity: 0.5;
    }
    50%
    {
        opacity: 1;
        transform: translate(130px,100px);
    }
    75%
    {
        opacity: 1;
        transform: translate(235px,100px);
    }
    100%
    {
        opacity: 0;
        transform: translate(235px,-100px);
    }
}
@keyframes wifi-one
{
    0%{  
        opacity:0;
    }
    25%
    {
        opacity:1;
        
    }
    50%
    {
        opacity:0;
    }
    75%
    {
        opacity:1;
    }
    100%
    {
        opacity:0;
    }
}
@keyframes get
{
    0%{  
        opacity:1;
    }
    25%
    {
        opacity:0;
        
    }
    50%
    {
        opacity:1;
    }
    75%
    {
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}
@keyframes wifi-two
{
    0%{  
        opacity:0;
    }
    25%
    {
        opacity:0;
        
    }
    50%
    {
        opacity:1;
    }
    75%
    {
        opacity:1;
    }
    100%
    {
        opacity:1;
    }
}
@keyframes wifi-three
{
    0%{  
        opacity:0;
    }
    25%
    {
        opacity:0;
        
    }
    50%
    {
        opacity:0;
    }
    75%
    {
        opacity:1;
    }
    100%
    {
        opacity:1;
    }
}
@keyframes wifi-four
{
    0%{  
        opacity:0;
    }
    25%
    {
        opacity:0;
        
    }
    50%
    {
        opacity:0;
    }
    75%
    {
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}
@keyframes gear{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}


.about-container
{
    width: 100%;
    height: 100%;

    .header
    {
        font-size: 26px;
        font-weight: 0.5px;
        position: absolute;
        top: 12%;
        text-align: center;
        width: 100%;
    }


    .rpi-image
    {
        height: 20%;
        position: absolute;
        top:50%;
        left: 25%;
    }
    .sensors-image
    {
        height: 15%;
        width: 15%;
        position: absolute;
        top:70%;
        left: 10%;
    }
    .data-image
    {
        height: 5%;
        width: 5%;
        position: absolute;
        top:77%;
        left: 10%;
        opacity:0;
    }
    .api-image
    {
        height: 19%;
        width: 10%;
        position: absolute;
        top:30%;
        left: 35%;
    }
    .gear-image
    {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 44%;
        left: 43%;
        
    }
    .vis-image
    {
        height: 19%;
        width: 10%;
        position: absolute;
        top:66%;
        left: 55%; 
    }
   .get-image
   {
    height: 2%;
    width: 2%;
    position: absolute;
    top:48%;
    left: 48%; 
   }
    .wifi-image
    {
        width: 4%;
        height: 4%;
        position: absolute;
        top:40%;
        left: 25%;
}

}

.animation-class
{
    .data-image
    {
        animation: data-transfer 3s linear infinite both
    }
    .gear-image{
        animation: gear 1s linear infinite both
    }
    .get-image
    {
        #Vector_2
    {
        animation: wifi-one 4s linear infinite both;
    }
    #Vector_3
    {
        animation: get 4s linear infinite both;
    }
    }
    .wifi-image
    {
        #path-4
    {
        animation: wifi-one 1.5s linear infinite both;
        /* transform-origin: center;
        transform-box: fill-box; */
    }
    #path-2
    {
        animation: wifi-two 1.5s ease-in infinite both;
        /* transform-origin: center;
        transform-box: fill-box; */
    }
    #path-3
    {
        animation: wifi-three 1.5s linear infinite both;
        /* transform-origin: center;
        transform-box: fill-box; */
    }
    #path-1
    {
        animation: wifi-four 1.5s linear infinite both;
        /* transform-origin: center;
        transform-box: fill-box; */
    }
    }
    
}


.measurment-device-description
{
    width: 20%;
    height: 30%;
    position: absolute;
    top:36%;
    left: 3%;
    h1{
        width: 100%;
        text-align: center;
        font-size: 120%;
        margin-bottom: 4%;
        border-bottom: solid 2px rgb(28, 223, 180);
    }
    ul{
        list-style-type: square;
        width: 100%;
        font-size: 80%;
        margin: 3%;
        h2{
            width: 40%;
            font-size: 110%;
            text-align: left;
            border-bottom: solid 2px rgb(28, 223, 180);
        }
        li{
            margin: 2%;
        }
    }

}

.react-app-description
    {
        width: 20%;
        height: 30%;
        position: absolute;
        top:63%;
        left: 35%;
    h1{
        width: 100%;
        text-align: center;
        font-size: 120%;
        margin-bottom: 4%;
        border-bottom: solid 2px rgb(95, 187, 248);
    }
    ul{
        list-style-type: square;
        width: 100%;
        font-size: 80%;
        margin: 3%;
        h2{
            width: 40%;
            font-size: 110%;
            text-align: left;
            border-bottom: solid 2px rgb(95, 187, 248);
        }
        li{
            margin: 2%;
        }
    }
    }


    .api-description
    {
        width: 20%;
        height: 30%;
        position: absolute;
        top:28%;
        left: 47%;
        
    h1{
        width: 100%;
        text-align: center;
        font-size: 120%;
        margin-bottom: 4%;
        border-bottom: solid 2px rgb(245, 158, 46);
    }
    ul{
        list-style-type: square;
        width: 100%;
        font-size: 80%;
        margin: 3%;
        h2{
            width: 40%;
            font-size: 110%;
            text-align: left;
            border-bottom: solid 2px rgb(245, 158, 46);
        }
        li{
            margin: 2%;
        }
    }
    }

    .team-description
    {
        width: 20%;
        height: 30%;
        position: absolute;
        top:28%;
        left: 77%;
        
    h1{
        width: 100%;
        text-align: left;
        font-size: 120%;
        margin-bottom: 4%;
    }
    ul{
        list-style-type: lower;
        width: 100%;
       
        margin: 3%;
        li{
            margin: 5%;
        }
    }
    }