


    .scroll-table
    {
        overflow-y: scroll;
        max-height: 80%;
        min-height: 80%;
    }

.myrow
{
      text-align: center;
      background-color: #f6f6f8e7;
      &:nth-child(odd) {background-color: rgba(255, 255, 255, 0.897)}
      
}
  .row-header
  {
      background-color: #144069;
      color: #c6dbee;
      height: 40px;
      font-size: medium;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      text-align: center;
      position: sticky;
      z-index: 4;
      top: 0;
  }


  @for $i from 0 through 40 {

    .animation-table-#{$i}
  {
    animation: animation 0.4s ease-in both;
    animation-delay: $i * 0.05s ;
  }

}
  
  @keyframes animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
  }
  }


  .filtration-table
  {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
      margin: 2%;
    }
    label{
      margin-right: 12px;
    }
  }