@use "sass:list";


@import "reset";
@import "grid";
@import "dataBox";
@import "intro";
@import "table";

html{
    scroll-behavior: smooth;
}

.content-box-container{
    width: 100vw;
    height: 100vh;
}
.content-box-container-first
{
    @extend .content-box-container;
    background-color: #144069;
}

.content-box-container-second
{
    @extend .content-box-container;
    background-color: white;
}

.content-box-container-third
{

    @extend .content-box-container;
    padding: 5%;
    background-color: rgb(228, 255, 246)
}

.content-box-container-fourth
{
    @extend .content-box-container;
    background-color: rgb(255, 255, 255);
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

    