@use "sass:list";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "reset";
@import "grid";
@import "dataBox";
@import "intro";
@import "table";
@import "line";
@import "about";

html{
    scroll-behavior: smooth;
    overflow: hidden;
}

.content-box-container{
    width: 100vw;
    height: 100vh;
    position:relative;
}


.content-box-container-first
{
    @extend .content-box-container;
    background-color: #144069;
}

.content-box-container-second
{
    @extend .content-box-container;
    
}

.content-box-container-third
{
    @extend .content-box-container;
    padding: 5%;
}

.content-box-container-fourth
{
    @extend .content-box-container;
    background-color: white;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.content-box-container-about
{
    @extend .content-box-container;
}

.nextButton{
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
    opacity: 0.1;
    transition: opacity, linear 0.5s 0.25s;
        #path-for-animate
        {   
            fill: transparent;
            stroke: black;
            stroke-width: 15;
            stroke-dasharray: 1600;
            stroke-dashoffset: 1600;
        }
    
    &:hover{
        opacity: 1;
        #path-for-animate
        {
            animation: arrow-animation 0.5s linear both 
        }
        cursor: pointer;
    }
}

@keyframes arrow-animation {
    0% { 
        stroke-dashoffset: 1600;
        opacity: 0.5;

    }
    100% { 
        stroke-dashoffset: 0;
        opacity: 0.7;
    }
}

.prevButton
{
    @extend .nextButton;
    transform: rotate(0deg);
}

.bottom-box
{
    position: absolute;
    width: 100%;
    top: 92%;
    left:0px;
    display: flex;
    justify-content: center;
}
.top-box
{
    @extend .bottom-box;
    top: 20px;
}

button{
    position: absolute;
    bottom: 40px;
    right: 40px;
  }