@use "sass:list";


@import "reset";
@import "grid";
@import "dataBox";
@import "intro";
@import "table";

html{
    scroll-behavior: smooth;
}

.content-box-container{
    width: 100vw;
    height: 100vh;
    //overflow-y: scroll;
}
.content-box-container-first
{
    @extend .content-box-container;
    background-color: #144069;
}

.content-box-container-second
{
    @extend .content-box-container;
    background-color: white;
}

.content-box-container-third
{
    @extend .content-box-container;
    background-color: white;
}

.content-box-container-fourth
{
    @extend .content-box-container;
    background-color: green;
}

    